@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color:white;">.</h1>

<form method="get" action="/Home/Read" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:left">
    <div class="input-group">
        <input type="submit" value="MY LIBRARY" class="btn btn-primary" style="float:right;background:black;" />
    </div>
</form>

<br />
<br />

<h3>CREATE NEW DATA</h3>

<!-- Form for creating new entries -->

<form method="post" action="/Home/Create" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:left">
    <div class="input-group">
        <input type="text" name="id" class="form-control" placeholder="Movie ID" />
        <input type="text" name="title" class="form-control" placeholder="Title" />
        <input type="text" name="lang" class="form-control" placeholder="Language" />
        <input type="text" name="category" class="form-control" placeholder="Category" />
        <br />
        <input type="submit" value="GO" class="btn btn-primary" style="float:right;background:black;" />
    </div>
</form>

<h1 style="color:white;">.</h1>
<hr />

<h3>DELETE EXISTING DATA</h3>


<!-- Form for deleting entries -->
<form method="post" action="/Home/Delete" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:left">
    <div class="input-group">
        <input type="text" name="id" class="form-control" placeholder="Movie ID" />
        <input type="submit" value="DELETE ENTRY" class="btn btn-primary" style="background:red;float:left" />
    </div>
</form>

<h1 style="color:white;">.</h1>
<hr />

<h3>UPDATE DATA</h3>
<!-- Form for updating existing entries -->
<form method="post" action="/Home/Update" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:left">
    <div class="input-group">
        <input type="text" name="id" class="form-control" placeholder="Movie ID" />
        <input type="text" name="title" class="form-control" placeholder="Title" />
        <input type="text" name="lang" class="form-control" placeholder="Language" />
        <input type="text" name="category" class="form-control" placeholder="Category" />
        <br />
        <input type="submit" value="UPDATE" class="btn btn-primary" style="float:right;background:black;" />
    </div>
</form>


<!-- CSS part -->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #1600e5;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #8296e0;
    }
</style>

